{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
<div class="container text-center mt-5">
    <h1>PROGRAMMING WITH DESIGN IS THE KEY<br> POST YOUR PROJECT</h1>
</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="prof-body">
                <form action="" method="POST" enctype="multipart/form-data">

                    {% csrf_token%}
                    {% bootstrap_form form %}
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-outline-dark bg-dark text-white" value="Update" />
                    </div>
                    <input type="hidden" name="next" value="{{next}}">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}