{% extends 'base.html'%}
{% load bootstrap4 %}

{% block content%}
<h1> hello</h1>
<div class="container">
    <div class="row">        
        <div class="col-md-6 " >
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token%}
                        {% bootstrap_form form %}
                       <button class="btn" type="submit">POST PROJECT</button> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3> BOLD BET AWWARDS PROJECTS</h3>
                </div>
            </div>
            <div class="card bg-dark text-white">
                <img class="card-img" src="https://images.unsplash.com/photo-1641483621640-62d43035faa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image" style="width: 550px;height: 200px;">
                <div class="card-img-overlay">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}