{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mt-5 text-center">
                <h1 class="heading">WIN YOUR BRAND <br>AWWARD AWAITS YOU!</h1>
                <p class="profile-text">But first, let's update your profile</p>
                <h3> BET-BODAK AWWARDS <br> IS SPONSORED <br>  BY <em> LABEL BRAND</em>   </h3>
                <div> <div class="card">
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1569529465841-dfecdab7503b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2hpc2t5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
                    </div>
                </div></div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class=" mt-4">
                <div class="form">
                  <h3 class="text-center">Update profile</h3>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                      <input type="submit" class="btn btn-outline-dark bg-dark text-white" value="Update" />
                    </div>
                  </form>
                </div>
              </div>
        </div>

    </div>
</div>
</div>
{% endblock %}