{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="mt-5 text-center">
                <h1 class="heading">THE CAR COMMUNITY <br> AWAITS YOU!</h1>
                <p class="profile-text">But first, let's update your profile</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class=" mt-4">
                <div class="form">
                  <h3 class="text-center">Update profile</h3>
                  <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div class="form-group">
                      <input type="submit" class="btn btn-outline-dark bg-dark text-white" value="Update" />
                    </div>
                  </form>
                </div>
              </div>
        </div>

    </div>
</div>
</div>
{% endblock %}